dir                /share/apps/scripts/genomics/global/annotation/ensembl_71/vep_config
toplevel_dir       /share/apps/scripts/genomics/global/annotation/ensembl_71/vep_config
force_overwrite    1
format             vcf
cache		       1
database           1
no_progress        1
host               blackrussian
port               3306
user               bioinfo
password           A29bcd1234#
plugin Gene_description
plugin flanking_sequence
plugin Conservation
plugin Grantham
plugin Interpro_fixed
plugin Condel,/share/apps/scripts/genomics/global/annotation/ensembl_71/vep_config/Plugins/config/Condel/config,b
species            homo_sapiens
buffer_size        5000
gene               1
hgvs               1
canonical          1
ccds               1
check_svs          0
check_existing     1
check_alleles	   1
domains            1
gmaf               1
hgnc               1
maf_1kg            1
numbers            1
polyphen           b
regulatory         1
sift               b
xref_refseq        1
verbose            1