dir_cache          /share/references/vep
force_overwrite    1
format             vcf
cache              1
no_progress        1
no_stats           1
database           1
host               blackrussian
port               3306
user               bioinfo
password           A29bcd1234#
plugin Conservation
plugin Gene_description
plugin Flanking_sequence
plugin Grantham
plugin Interpro_fixed
gene               1
hgvs               1
canonical          1
ccds               1
check_svs          0
check_existing     1
check_alleles	   1
domains            1
gmaf               1
symbol             1
maf_1kg            1
numbers            1
polyphen           b
regulatory         1
sift               b
xref_refseq        1
species            homo_sapiens
allele_number      1
vcf                1
